<h1>U NOW JUST GOTTA LOGIN!!</h1>
<%= form_for @pro,:url => {:action => 'login'} do |f| %>

<div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
 </div>
<div class="actions">
    <%= f.submit :login%>
  </div>
<%end%>