


<p id="notice"><%= notice %></p>

<p>
  <b>title:</b>
  <%= @pro.title %>
</p>

<p>
  <b>discription</b>
  <%= @pro.discription %>
</p>

<p>
  <b>image_url</b>
  <%= @pro.image_url %>
</p>

<p>
  <b>price</b>
  <%= @pro.price %>
</p>

<%= link_to 'Edit', edit_product_path(@pro) %>

